{% extends "wagtailadmin/admin_base.html" %}
{% load wagtailsettings_tags wagtailimages_tags %}

{% block branding_title %}
  {% get_settings use_default_site=True as site_settings %}
  {{ site_settings.site_settings.sitesettings.site_name }} Admin
{% endblock %}

{% block branding_favicon %}
  {% get_settings use_default_site=True as site_settings %}
  {% with s=site_settings.site_settings.sitesettings %}
    {% if s.favicon %}
      {% image s.favicon max-64x64 as favicon_img %}
      <link rel="shortcut icon" href="{{ favicon_img.url }}" />
    {% else %}
      <link rel="shortcut icon" href="/static/wagtailadmin/images/favicon.ico" />
    {% endif %}
  {% endwith %}
{% endblock %}